*.csv
*.txt
*.RDF
*.pkl
*.pickle
*.pth
*ipynb
*zip
logs/
archive/
datasets/
data/
cohorts_patients/
results/
__pycache__/
beam_benchmarks/
our_benchmarks/
models/
glove_embeddings/
node2vec_embeddings/